<div class="gp-mobile-tabbar">
  <button class="btn-flat" {{on "click" this.toHome}}>Home</button>
  <button class="btn-flat" {{on "click" this.toNews}}>News</button>
  <button class="btn-flat" {{on "click" this.toHot}}>Hot</button>
  <button class="btn-primary" title="New Topic" {{on "click" this.newTopic}}>+</button>
</div>
